@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Montserrat&family=Puritan&family=Roboto:wght@100;400&display=swa');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Montserrat&family=Puritan&family=Roboto+Slab&family=Roboto:wght@100;400&display=swap');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  border: 0;
}

body {
  background: #fff;
}

button {
  background-color: rgb(53, 128, 226);
  color: #fff;
  padding: 0;
}

#roboto {
  font-family: 'RobotoSlab', sans-serif;
}

#montserrat {
  font-family: 'Montserrat', sans-serif;
}

#root {
  padding: 10px 20px;
}

nav {
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #dbdada;
  padding: 3px 30px;

  /* width: 100%; */
}

.logo {
  width: 45%;
  font-size: 1rem;
  font-weight: bold;
  color: #0290ff;

  /* margin-right: 50px; */
}

nav a {
  text-decoration: none;
  margin: 5px;
  color: #000;
  font-size: 12px;
}

#icon {
  align-items: flex-end;
  border-radius: 50%;
  color: rgb(55, 156, 246);
  width: 40px;
  height: 40px;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 25px;
  }

  nav a {
    font-size: medium;
  }

  .nav a:active,
  .nav a:focus {
    color: #3e92db;
  }

  #icon {
    width: 2.813rem;
    height: 2.813rem;
    margin-left: 45%;
  }

  .books-list {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 5px;
    padding: 5px 10px;
  }

  .inner-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
    border: 1px solid #eeecec;
    padding: 20px;
    justify-content: center;
  }

  .box {
    padding: 5px 15px;
    align-items: center;
  }

  .grey {
    color: #888;
  }

  .flex {
    display: flex;
  }

  .each-book {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }

  .category {
    width: 7rem;
    height: 25px;
    opacity: 0.5;
    font-size: 0.875rem;
    font-weight: bold;
    color: #121212;
    border: none;
  }

  .Title {
    font-size: 1.375rem;
    font-weight: bold;
    letter-spacing: -0.2px;
  }

  .book-title {
    color: #121212;
    width: 22.813rem;
    height: 1.813rem;
  }

  .author {
    width: 5.813rem;
    height: 1.188rem;
    font-size: 0.875rem;
    font-weight: 300;
    color: #4386bf;
  }

  .buttons {
    justify-content: space-between;
    gap: 15px;
    width: 60%;
    margin-top: 15px;
  }

  .progress-btn {
    width: 11.5rem;
    height: 2.063rem;
    border-radius: 3px;
    font-size: 0.813rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }

  .divider {
    width: 0.125rem;
    height: 1.5rem;
    border: solid 1px #e8e8e8;
  }

  .bookmark {
    display: grid;
    grid-template-columns: 2fr 1fr;

    /* grid-template-columns: repeat(2, minmax(2fr, 1fr)); */
    gap: 2%;
  }

  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }

  .circle-bg {
    fill: none;
    stroke: #cacaca;
    stroke-width: 3.8;
  }

  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }

  .percentage-complete {
    width: 20px;
    height: 10px;
    color: #121212;
  }

  .state {
    width: 5px;
    height: 1.125rem;
    opacity: 0.5;
    font-size: 0.875rem;
    color: #121212;
  }

  .current-chapter {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .chapter {
    font-size: 1rem;
    font-weight: 300;
  }

  .input-form {
    flex-direction: column;
    margin: 15px 10px;
    padding: 15px 10px;
    gap: 5px;
    border-top: 1px solid #dbdada;
  }

  form {
    align-items: center;
    gap: 2%;
    width: 100%;
  }

  form > input {
    font-size: 16px;
    width: 70%;
    padding: 2px 8px;
    border: 1px solid #dbdada;
  }

  form > select {
    height: 40px;
    width: 30%;
    border: 1px solid #dbdada;
    font-size: 1rem;
    letter-spacing: -0.15px;
    color: var(--very-light-pink);
  }

  .add-button {
    width: 20%;
    height: 40px;
    font-size: 0.813rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .input-title {
    width: 50%;
    height: 2.813rem;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
  }

  .input-author {
    display: none;
  }

  .buttons > button {
    background-color: transparent;
    color: #4386bf;
    height: 1.188rem;
    font-size: 0.875rem;
    font-weight: 300;
  }
}
